<%- include('./page-base/top-base.ejs') %>

<%- include('./view-base/header-view') %>

<div class="content">
  <div class="main-content">
    <div class="container">
      <%- include('./containers/home/swiper-view.ejs') %>

      <div class="row">
        <div class="col-12 col-md-12 col-xl-8">
          
          <section class="tab-list-movie">
            <%- include('./containers/home/list-movies-tab.ejs') %>
          </section>

          <div class="phim-hoat-hinh">
            <h2 class="title-box">
              <a>PHIM HOẠT HÌNH</a>
            </h2>
            <div class="list-phim-hoat-hinh">
              <div class="row hoat-hinh">
                <div class="col-6 col-sm-4 col-md-3 col-xl-3">
                  <div class="item-phim-hoathinh">
                    <span class="label">Tập 29 HD</span>
                    <a title="Vua Đầu Bếp Soma (Phần 4) 2019" href="#">
                      <img src="images/item-film/vua-dau-bep-soma-phan-4-7378.jpg">
                      <p><i class="icofont-ui-play"></i></p>
                      <div class="name">
                        <span>Vua Đầu Bếp Soma (Phần 4) 2019</span>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3">
                  <div class="item-phim-hoathinh">
                    <span class="label">Tập 29 HD</span>
                    <a title="Dr. Stone 2019" href="#">
                      <img src="images/item-film/dr-stone-7072.jpg">
                      <p><i class="icofont-ui-play"></i></p>
                      <div class="name">
                        <span>Dr. Stone 2019</span>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3">
                  <div class="item-phim-hoathinh">
                    <span class="label">Tập 29 HD</span>
                    <a title="Cảnh Sát Bắt Ma 2019" href="#">
                      <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                      <p><i class="icofont-ui-play"></i></p>
                      <div class="name">
                        <span>Cảnh Sát Bắt Ma 2019</span>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3">
                  <div class="item-phim-hoathinh">
                    <span class="label">Tập 29 HD</span>
                    <a title="Cảnh Sát Bắt Ma 2019" href="#">
                      <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                      <p><i class="icofont-ui-play"></i></p>
                      <div class="name">
                        <span>Cảnh Sát Bắt Ma 2019</span>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3">
                  <div class="item-phim-hoathinh">
                    <span class="label">Tập 29 HD</span>
                    <a title="Cảnh Sát Bắt Ma 2019" href="#">
                      <img src="images/item-film/tinh-dau-ngay-ngo-7394.jpg">
                      <p><i class="icofont-ui-play"></i></p>
                      <div class="name">
                        <span>Tình Đầu Ngây Ngô 2019</span>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3">
                  <div class="item-phim-hoathinh">
                    <span class="label">Tập 29 HD</span>
                    <a title="Cảnh Sát Bắt Ma 2019" href="#">
                      <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                      <p><i class="icofont-ui-play"></i></p>
                      <div class="name">
                        <span>Cảnh Sát Bắt Ma 2019</span>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3">
                  <div class="item-phim-hoathinh">
                    <span class="label">Tập 29 HD</span>
                    <a title="Cảnh Sát Bắt Ma 2019" href="#">
                      <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                      <p><i class="icofont-ui-play"></i></p>
                      <div class="name">
                        <span>Cảnh Sát Bắt Ma 2019</span>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-6 col-sm-4 col-md-3 col-xl-3">
                  <div class="item-phim-hoathinh">
                    <span class="label">Tập 29 HD</span>
                    <a title="Cảnh Sát Bắt Ma 2019" href="#">
                      <img src="images/item-film/canh-sat-bat-ma-7386.jpg">
                      <p><i class="icofont-ui-play"></i></p>
                      <div class="name">
                        <span>Cảnh Sát Bắt Ma 2019</span>
                      </div>
                    </a>
                  </div>
                </div>

              </div>

            </div>
          </div>

          <div class="phim-yeu-thich">

          </div>

        </div>
        <div class="col-12 col-md-12 col-xl-4">
          <div class="trailer">
            <div class="caption">
              <h2>PHIM SẮP CHIẾU</h2>
            </div>
            <ul class="list-film-future">
              <li class="film-item-ver">
                <a title="Cô Gái Nhìn Thấy Mùi Hương" href="#">
                  <img class="avatar" src="images/item-film/co-gai-nhin-thay-mui-huong-7419.jpg">
                  <div class="name-film-future">
                    <p class="real-name">Cô Gái Nhìn Thấy Mùi Hương</p>
                    <p class="year-film">2019</p>
                  </div>
                </a>
                <p class="star" data-rating="1" title="bad" style="width: 200px;">
                  <img src="images/star/star-on.png" alt="1" title="bad">
                  <img src="images/star/star-off.png" alt="2" title="bad">
                  <img src="images/star/star-off.png" alt="3" title="bad">
                  <img src="images/star/star-off.png" alt="4" title="bad">
                  <img src="images/star/star-off.png" alt="5" title="bad">
                </p>
              </li>
              <li class="film-item-ver">
                <a title="Sinh Tử" href="#">
                  <img class="avatar" src="images/item-film/sinh-tu-7409.jpg">
                  <div class="name-film-future">
                    <p class="real-name">Sinh Tử</p>
                    <p class="year-film">2019</p>
                  </div>
                </a>
                <p class="star" data-rating="1" title="bad" style="width: 200px;">
                  <img src="images/star/star-on.png" alt="1" title="bad">
                  <img src="images/star/star-off.png" alt="2" title="bad">
                  <img src="images/star/star-off.png" alt="3" title="bad">
                  <img src="images/star/star-off.png" alt="4" title="bad">
                  <img src="images/star/star-off.png" alt="5" title="bad">
                </p>
              </li>
              <li class="film-item-ver">
                <a title="Ngọn Lửa Đố Kị" href="#">
                  <img class="avatar" src="images/item-film/ngon-lua-do-ki-7264.jpg">
                  <div class="name-film-future">
                    <p class="real-name">Ngọn Lửa Đố Kị</p>
                    <p class="year-film">2019</p>
                  </div>
                </a>
                <p class="star" data-rating="1" title="bad" style="width: 200px;">
                  <img src="images/star/star-on.png" alt="1" title="bad">
                  <img src="images/star/star-off.png" alt="2" title="bad">
                  <img src="images/star/star-off.png" alt="3" title="bad">
                  <img src="images/star/star-off.png" alt="4" title="bad">
                  <img src="images/star/star-off.png" alt="5" title="bad">
                </p>
              </li>
              <li class="film-item-ver">
                <a title="Ngọn Lửa Đố Kị" href="#">
                  <img class="avatar" src="images/item-film/ngon-lua-do-ki-7264.jpg">
                  <div class="name-film-future">
                    <p class="real-name">Ngọn Lửa Đố Kị</p>
                    <p class="year-film">2019</p>
                  </div>
                </a>
                <p class="star" data-rating="1" title="bad" style="width: 200px;">
                  <img src="images/star/star-on.png" alt="1" title="bad">
                  <img src="images/star/star-off.png" alt="2" title="bad">
                  <img src="images/star/star-off.png" alt="3" title="bad">
                  <img src="images/star/star-off.png" alt="4" title="bad">
                  <img src="images/star/star-off.png" alt="5" title="bad">
                </p>
              </li>
              <li class="film-item-ver">
                <a title="Ngọn Lửa Đố Kị" href="#">
                  <img class="avatar" src="images/item-film/ngon-lua-do-ki-7264.jpg">
                  <div class="name-film-future">
                    <p class="real-name">Ngọn Lửa Đố Kị</p>
                    <p class="year-film">2019</p>
                  </div>
                </a>
                <p class="star" data-rating="1" title="bad" style="width: 200px;">
                  <img src="images/star/star-on.png" alt="1" title="bad">
                  <img src="images/star/star-off.png" alt="2" title="bad">
                  <img src="images/star/star-off.png" alt="3" title="bad">
                  <img src="images/star/star-off.png" alt="4" title="bad">
                  <img src="images/star/star-off.png" alt="5" title="bad">
                </p>
              </li>

            </ul>
          </div>

          <div class="most-view mt-5">
            <div class="caption">
              <h2>HOT TRENDS</h2>
            </div>
            <div class="tabs-trend">
              <ul class="nav nav-tabs list-trend">
                <li class="nav-item tabs trend">
                  <a class="nav-link active" data-toggle="tab" href="#day">Ngày</a>
                </li>
                <li class="nav-item tabs trend">
                  <a class="nav-link" data-toggle="tab" href="#week">Tuần</a>
                </li>
                <li class="nav-item tabs trend">
                  <a class="nav-link" data-toggle="tab" href="#month">Tháng</a>
                </li>
              </ul>
            </div>

            <div class="tab-content">
              <div id="day" class="container tab-pane active">
                <div class="list-trend-day">
                  <ul class="list-day">
                    <li class="item-trend">
                      <span class="number-rank">1</span>
                      <a href="#">
                        <span>Trăng Sáng Chiếu Lòng Ta</span>
                      </a>
                      <div class="count-view">745 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">2</span>
                      <a href="#">
                        <span>Hoa Hồng Trên Ngực Trái</span>
                      </a>
                      <div class="count-view">340 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">3</span>
                      <a href="#">
                        <span>Tiểu Sử Chàng Nokdu</span>
                      </a>
                      <div class="count-view">270 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">4</span>
                      <a href="#">
                        <span>Vô Cùng Thích Anh</span>
                      </a>
                      <div class="count-view">260 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">5</span>
                      <a href="#">
                        <span>Tiếng Sét Trong Mưa</span>
                      </a>
                      <div class="count-view">244 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">6</span>
                      <a href="#">
                        <span>Tình Cờ Va Phải Ha Roo</span>
                      </a>
                      <div class="count-view">194 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">7</span>
                      <a href="#">
                        <span>Quyến Luyến Giang Hồ</span>
                      </a>
                      <div class="count-view">176 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">8</span>
                      <a href="#">
                        <span>Người Bạn Gái Tôi Không Thể Yêu</span>
                      </a>
                      <div class="count-view">141 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">9</span>
                      <a href="#">
                        <span>Tình Đầu Ngây Ngô</span>
                      </a>
                      <div class="count-view">138 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">10</span>
                      <a href="#">
                        <span>Yêu Em Là Sự Sắp Đặt Tuyệt Vời Nhất</span>
                      </a>
                      <div class="count-view">104 lượt quan tâm</div>
                    </li>
                  </ul>
                </div>
              </div>

              <div id="week" class="container tab-pane fade">
                <div class="list-trend-week">
                  <ul class="list-week">
                    <li class="item-trend">
                      <span class="number-rank">1</span>
                      <a href="#">
                        <span>Trăng Sáng Chiếu Lòng Ta</span>
                      </a>
                      <div class="count-view">745 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">2</span>
                      <a href="#">
                        <span>Hoa Hồng Trên Ngực Trái</span>
                      </a>
                      <div class="count-view">340 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">3</span>
                      <a href="#">
                        <span>Tiểu Sử Chàng Nokdu</span>
                      </a>
                      <div class="count-view">270 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">4</span>
                      <a href="#">
                        <span>Vô Cùng Thích Anh</span>
                      </a>
                      <div class="count-view">260 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">5</span>
                      <a href="#">
                        <span>Tiếng Sét Trong Mưa</span>
                      </a>
                      <div class="count-view">244 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">6</span>
                      <a href="#">
                        <span>Tình Cờ Va Phải Ha Roo</span>
                      </a>
                      <div class="count-view">194 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">7</span>
                      <a href="#">
                        <span>Quyến Luyến Giang Hồ</span>
                      </a>
                      <div class="count-view">176 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">8</span>
                      <a href="#">
                        <span>Người Bạn Gái Tôi Không Thể Yêu</span>
                      </a>
                      <div class="count-view">141 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">9</span>
                      <a href="#">
                        <span>Tình Đầu Ngây Ngô</span>
                      </a>
                      <div class="count-view">138 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">10</span>
                      <a href="#">
                        <span>Yêu Em Là Sự Sắp Đặt Tuyệt Vời Nhất</span>
                      </a>
                      <div class="count-view">104 lượt quan tâm</div>
                    </li>
                  </ul>
                </div>
              </div>
              <div id="month" class="container tab-pane fade">
                <div class="list-trend-month">
                  <ul class="list-month">
                    <li class="item-trend">
                      <span class="number-rank">1</span>
                      <a href="#">
                        <span>Trăng Sáng Chiếu Lòng Ta</span>
                      </a>
                      <div class="count-view">745 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">2</span>
                      <a href="#">
                        <span>Hoa Hồng Trên Ngực Trái</span>
                      </a>
                      <div class="count-view">340 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">3</span>
                      <a href="#">
                        <span>Tiểu Sử Chàng Nokdu</span>
                      </a>
                      <div class="count-view">270 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">4</span>
                      <a href="#">
                        <span>Vô Cùng Thích Anh</span>
                      </a>
                      <div class="count-view">260 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">5</span>
                      <a href="#">
                        <span>Tiếng Sét Trong Mưa</span>
                      </a>
                      <div class="count-view">244 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">6</span>
                      <a href="#">
                        <span>Tình Cờ Va Phải Ha Roo</span>
                      </a>
                      <div class="count-view">194 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">7</span>
                      <a href="#">
                        <span>Quyến Luyến Giang Hồ</span>
                      </a>
                      <div class="count-view">176 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">8</span>
                      <a href="#">
                        <span>Người Bạn Gái Tôi Không Thể Yêu</span>
                      </a>
                      <div class="count-view">141 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">9</span>
                      <a href="#">
                        <span>Tình Đầu Ngây Ngô</span>
                      </a>
                      <div class="count-view">138 lượt quan tâm</div>
                    </li>
                    <li class="item-trend">
                      <span class="number-rank">10</span>
                      <a href="#">
                        <span>Yêu Em Là Sự Sắp Đặt Tuyệt Vời Nhất</span>
                      </a>
                      <div class="count-view">104 lượt quan tâm</div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>

<%- include('./page-base/bottom-base.ejs') %>