<%- include('./page-base/top-base.ejs') %>

<div class="content">
    <div class="main-content">
        <div class="container">
            <%- include('./containers/movies/breadcrumbs-info-films.ejs') %>
            <div class="row">
                <div class="col-12 col-md-12 col-xl-8">
                    <section class="blockbody">
                        <%- include('./containers/movies/info-film.ejs') %>
                    </section>
                </div>
                
                <div class="col-12 col-md-12 col-xl-4">
                    <%- include('./containers/home/box-trailer-view.ejs') %>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('./page-base/bottom-base.ejs') %>